html {
    height: 100%;
  }

body {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body header {
    margin-bottom: 35px;
}


body section {
    width: 100%;
    margin: 32px auto;
    flex: 1;
}

body footer {
    width: 100%;
    height: 60px;
    background-color: #343440;
    line-height: 20px;
    flex-shrink: 0;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body footer div{
    display: block;
    text-align: center;
    margin: auto 12px;
}

body footer p {
    font-size: 18px;
    margin: 0 auto;
    color: #fff;
    font-size: 500;
}

body footer a {
    margin: 0 auto;
    text-decoration: none;
}



body footer a i {
    font-size: 32px;
    color: #fff;
    margin-left: 5px;
    transition: color 0.2s;
}

body footer a i:hover {
    color: #aaa;
}


#chartContainer {
    height: 364px; 
    width: 100%;
    
}

.canvasjs-chart-canvas {
    box-shadow: 1px 1px 3px grey;
}

.row {
    margin-bottom: 32px;
}

#message{
    margin-bottom: 18px;
}